<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

    <div>名前:  <%= @user.name %></div>
    <div>性別:  <%= @user.gender %></div>
    <div>誕生日:  <%= @user.birthday %></div>
    <div>出身地:  <%= @user.hometown %></div>
    <div>ひとこと:  <%= @user.remarks %></div>
   
